<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <!-- <groups>
    <define name = "All">
    <include name = "Get"/>
    <include name = "REST"/>
    </define>
    <run>
    <include name = "All"/> 
    </run>
    </groups> -->
    <classes>
      <!-- <class name="Tests.GetTest"/> -->
      <class name="Tests.GetBooks"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
